<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/plantilla/css/util.css">
  <link rel="stylesheet" type="text/css" href="css/plantilla/css/main.css">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100" style="background-image: url('css/plantilla/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
      <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sobre este trabajo
					</span>


        <span class="txt2" style="color: grey">
                    Esta aplicación es el resultado del proyecto de prácticas de <b>Tecnologías y Sistemas Web 2022</b>
        </span>

        <div style="display: grid; margin-top: 20px">
        <span class="txt2" style="color: mediumblue">
                    Realizado por:
        </span>

        <a class="txt2 link" style="color: black" href="http://juanmanuelpa.com" target="_blank" >
                    👉 &#128279; Juan Manuel Porrero Almansa (www.juanmanuelpa.com)
        </a>

        <a class="txt2 link" style="color: black" href="http://alonsodiazsobrino.com" target="_blank" >
                    👉 &#128279; Alonso Díaz Sobrino (www.alonsodiazsobrino.com)
        </a>

        </div>

        <div style="display: grid; margin-top: 20px">
        <span class="txt2" style="color: mediumblue">
                    El código del trabajo puede encontrarse en el siguiente repositorio:
        </span>

          <a class="txt2 link" style="color: black" href="https://github.com/juanma1501/TecWeb22" target="_blank" >

            &#128279; https://github.com/juanma1501/TecWeb22
          </a>

        </div>



        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="css/plantilla/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/bootstrap/js/popper.js"></script>
<script src="css/plantilla/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/js/main.js"></script>

</body>
</html>