<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">
                <h1>Juegos disponibles</h1>
                <div>

                    <span data-bind="html : mensaje" style="color : blue"></span>
                    <span data-bind="html : error" style="color : red"></span>

                    <!-- ko foreach : games -->
                    <div>
                        <label data-bind="html : name"></label>&nbsp;
                        <button data-bind="click : function() { $parent.joinGame($data); }">Jugar partida online</button>
                    </div>
                    <!-- /ko -->
                </div>

                <ol>
                    <!-- ko foreach : matches -->
                    <li>
                        <div>Id: <label data-bind="html : id"></label></div>

                        <div>Preparada: <span data-bind="html : ready"></span></div>

                        <!-- ko foreach : players -->
                        <div>Jugador <span data-bind="html : $index() + 1"></span>: <span
                                data-bind="html : name"></span></div>
                        <!-- /ko -->

                        <div>Jugador con el turno:

                            <span data-bind="html : playerWithTurn"></span>

                        </div>

                        <div>Ganador: <span data-bind="html : winner"></span></div>
                        <div>Perdedor: <span data-bind="html : looser"></span></div>

                        <div>Acabó en empate: <span data-bind="html : draw"></span></div>

                        <input data-bind="value : $parent.x" type="number" size="1" placeholder="X">
                        <input data-bind="value : $parent.y" type="number" size="1" placeholder="Y">
                        <button data-bind="click : function() { $parent.mover($data); }">Mover</button>
                        <br>
                        <button data-bind="click : function() { $parent.reload($data); }">Recargar partida</button>
                    </li>



                    <!-- ko with : board -->
                    <div class="Board">
                        <h1>Tablero</h1>
                        <!-- ko foreach : squares -->
                        <div class="Row">
                            <!-- ko foreach : $data -->
                            <!-- ko if : $data == 0 -->
                            <div class="TicTacToeSquare TicTacToeBackground">

                            </div>
                            <!-- /ko-->

                            <!-- ko if : $data == 1 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <i class="uil uil-times Cross"></i>
                            </div>
                            <!-- /ko-->

                            <!-- ko if : $data == 2 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <i class="uil uil-circle Circle"></i>
                            </div>
                            <!-- /ko-->
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </ol>
            </div>
        </div>
    </div>
</div>

