<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/plantilla/css/util.css">
    <link rel="stylesheet" type="text/css" href="css/plantilla/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


<div class="limiter">
    <div class="container-login100" style="background-image: url('css/plantilla/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Juegos
					</span>
                <div>

                    <span data-bind="html : mensaje" style="color : blue"></span>
                    <span data-bind="html : error" style="color : red"></span>

                    <!-- ko foreach : games -->
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" data-bind="click : function() { $parent.joinGame($data); }">
                            <label data-bind="html : name"></label>
                        </button>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" data-bind="click : function() { $parent.joinGameCPU($data); }">
                            <label data-bind="html : name +' CPU'"></label>
                        </button>
                    </div>
                    <!-- /ko -->
                </div>

                <ol>
                    <!-- ko foreach : matches -->
                    <li>
                        <div>Id: <label data-bind="html : id"></label></div>

                        <div>Preparada: <span data-bind="html : ready"></span></div>

                        <!-- ko foreach : players -->
                        <div>Jugador <span data-bind="html : $index() + 1"></span>: <span
                                data-bind="html : name"></span></div>
                        <!-- /ko -->

                        <div>Jugador con el turno:

                            <span data-bind="html : playerWithTurn"></span>

                        </div>

                        <div>Ganador: <span data-bind="html : winner"></span></div>
                        <div>Perdedor: <span data-bind="html : looser"></span></div>

                        <div>Acabó en empate: <span data-bind="html : draw"></span></div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input data-bind="value : $parent.x" type="number" size="1" placeholder="X" class="inputº">
                            <span class="focus-input100"></span>
                        </div>
                        <input data-bind="value : $parent.y" type="number" size="1" placeholder="Y">
                        <button data-bind="click : function() { $parent.mover($data); }">Mover</button>
                        <br>
                        <button data-bind="click : function() { $parent.reload($data); }">Recargar partida</button>
                    </li>


                    <!-- ko with : board -->
                    <div class="Board">
                        <h1>Tablero</h1>
                        <!-- ko foreach : squares -->
                        <div class="Row">
                            <!-- ko foreach : $data -->
                            <!-- ko if : $data == 0 -->
                            <div class="TicTacToeSquare TicTacToeBackground">

                            </div>
                            <!-- /ko-->
                            <!-- ko if : $data == 1 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <i class="uil uil-times Cross"></i>
                            </div>
                            <!-- /ko-->

                            <!-- ko if : $data == 2 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <i class="uil uil-circle Circle"></i>
                            </div>
                            <!-- /ko-->
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <!-- ko with : board -->
                    <div class="Board">
                        <h1>Tablero</h1>
                        <!-- ko with : squares -->
                        <div class="Row">
                            <!-- ko foreach : $data -->
                            <!-- ko if : $data == 1 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <link class="stone" rel="icon" href="../../css/images/roca.png">
                            </div>
                            <!-- /ko-->
                            <!-- ko if : $data == 2 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <link class="paper" rel="icon" href="../../css/images/papel.png">
                            </div>
                            <!-- /ko-->
                            <!-- ko if : $data == 3 -->
                            <div class="TicTacToeSquare TicTacToeBackground">
                                <link class="scissor" rel="icon" href="../../css/images/tijeras.png">
                            </div>
                            <!-- /ko-->
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <div class="buttons">
                        <div>
                            <p class="paraph"> Choose your option here: </p>
                        </div>
                        <div class="button-movements">
                            <button class="stone" data-bind="click: $parent.secondMove"> piedra</button>
                            <button class="stone" data-bind="click: $parent.secondMove"> papel</button>
                            <button class="stone" data-bind="click: $parent.secondMove"> tijera</button>
                        </div>
                        <div>
                            <button class="button-move" data-bind="click: function(){ $parent.moveSecondGame($data)}"> Move </button>
                        </div>
                    </div>


                    <!-- /ko -->
                    <div class="info-message">
                        <span data-bind="html : infoMessage" style="color : blue"></span>
                    </div>
                </ol>
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="css/plantilla/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/bootstrap/js/popper.js"></script>
<script src="css/plantilla/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="css/plantilla/js/main.js"></script>

</body>
</html>

