<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Juegos disponibles</h1>
        <div>
            <span data-bind="html : error" style="color : red"></span>
            <!-- ko foreach : games -->
              <div>
                <label data-bind="html : name"></label>&nbsp;
                <button data-bind="click : function() { $parent.joinGame($data); }">Jugar partida</button>
              </div>
            <!-- /ko -->
        </div>

        <div>
          <!-- ko foreach : matches -->
            <div>Id: <label data-bind="html : id"></label></div>

            <div>Preparada: <span data-bind="html : ready"></span></div>
            <div>Jugador 1: <span data-bind="html : players[0].name"></span></div>

            <div>Jugador 2: 
              <!-- ko if : players[1] -->
                <span data-bind="html : players[1].name"></span>
              <!-- /ko -->
              <!-- ko ifnot : players[1] -->
                Esperando
              <!-- /ko -->
            </div>
    
            <div>Jugador con el turno:
              <!-- ko if : playerWithTurn -->
                <span data-bind="html : name"></span>
              <!-- /ko -->
            </div>

            <div>Ganador: <span data-bind="html : winner"></span></div>
            <div>Perdedor: <span data-bind="html : looser"></span></div>

            <div>Acabó en empate: <span data-bind="html : draw"></span></div>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>

