/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* **********************************************************
                       CSS DEL TABLERO
*************************************************************/
.Board {
  display: flex;
  flex-direction: column;

  margin: 20px 0px 20px 0px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Square {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TicTacToeSquare {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px cadetblue;
}

.TicTacToeBackground {
  background-color: #263b3a;
}

.TicTacToeSquare .Cross {
  font-size: 4rem;
  color: #73a029;
}

.TicTacToeSquare .Circle {
  font-size: 4rem;
  color: #73a029;
}

.Chat {
  color: white;
  margin-left: 20px;
  padding: 20px;
  background: aliceblue;
  border-radius: 20px;
  position: fixed;
  right: 170px;
  top: 140px;
}

.Chat .Title {
  padding-top: 20px;
}

.Chat .ChatContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  min-height: 500px;
  max-height: 500px;
  min-width: 310px;
  max-width: 310px;
  overflow: scroll;
  scroll-behavior: smooth;
  box-shadow: 0px 0px 12px cadetblue;
}

.Chat .ChatContent .Message {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
  line-height: 17px;
}

.Chat .ChatContent .Message .User {
  color:  #6200ff;
  font-weight: bold;
  font-size: 13px;
}

.Chat .ChatContent .Message .Text {
  color: brown;
}

.Chat .ChatInput {
  width: 100%;
  margin-top: 20px;
}

.Chat .ChatInput .Input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px 35px 10px 10px;
  margin-right: -20px;
  color: brown;
  box-shadow: 0px 0px 12px #4440c0
}

.Chat .ChatInput button {
  position: relative;
  color: #6200ff;
  z-index: 1;
  right: 10px;
}

.Chat .ChatInput button:hover {
  color: #a64bf4;
}

.stone{
  padding: 9px;
  border: 1px solid #3e5f8a;
  border-radius: 3px;
  background-color: #a0c5f7;
  font-weight: bold;
}

.buttons{
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-movements{
  padding: 10px;
}

.button-move{
  font-weight: bold;
  padding: 8px;
  background-color: #312d2a;
  color: white;
  border-radius: 5px;
}

.paraph{
  font-size: 20px;
}

.info-message{
  text-align: center;
}

.TicTacToeSquare .paper {
  font-size: 4rem;
  color: #73a029;
}

.TicTacToeSquare .stone-icon{
  font-size: 4rem;
  color: #73a029;
}

.TicTacToeSquare .scissor{
  font-size: 4rem;
  color: #73a029;
}