/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* **********************************************************
                       CSS DEL LOGIN
*************************************************************/







.Board {
  display: flex;
  flex-direction: column;

  margin: 20px 0px 20px 0px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Square {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TicTacToeSquare {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px cadetblue;
}

.TicTacToeBackground {
  background-color: #263b3a;
}

.TicTacToeSquare .Cross {
  font-size: 4rem;
  color: #73a029;
}

.TicTacToeSquare .Circle {
  font-size: 4rem;
  color: #73a029;
}

.stone{
  padding: 9px;
  border: 1px solid #3e5f8a;
  border-radius: 3px;
  background-color: #a0c5f7;
  font-weight: bold;
}

.buttons{
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-movements{
  padding: 10px;
}

.button-move{
  font-weight: bold;
  padding: 8px;
  background-color: #312d2a;
  color: white;
  border-radius: 5px;
}

.paraph{
  font-size: 20px;
}

.info-message{
  text-align: center;
}